adf-demo-2024-01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-demo-2024-01"
		},
		"ls_kv_demo_adf_2024_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-demo-adf-2024.vault.azure.net/"
		},
		"ls_sqldb_demo_dw_2024_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-demo-2024.database.windows.net"
		},
		"ls_sqldb_demo_dw_2024_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-demo-dw-2024"
		},
		"ls_stackoverflow2013_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-FAHJ1AD"
		},
		"ls_stackoverflow2013_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "StackOverflow2013"
		},
		"ls_stackoverflow2013_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf-etl-demo-2024"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_etl_dims')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Badges",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate staging tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadCommitted",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"validateDataConsistency": true,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Key",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UserKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stackoverflow2013_Badges",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_demo_dw_2024_Source_Badges",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Extract Users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate staging tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadCommitted",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"parallelCopies": 2,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Key",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reputation",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reputation",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stackoverflow2013_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_demo_dw_2024_Source_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate staging tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[ADF_Truncate_Staging_Tables]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_demo_dw_2024",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transform User data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extract Badges",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Extract Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[ADF_Transform_dimUser]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_demo_dw_2024",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Load dimUser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transform User data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[ADF_Load_dimUser]",
							"storedProcedureParameters": {
								"ETLTimestamp": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_demo_dw_2024",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stackoverflow2013_Badges')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_demo_dw_2024_Source_Badges')]",
				"[concat(variables('factoryId'), '/datasets/ds_stackoverflow2013_Users')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_demo_dw_2024_Source_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_demo_dw_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_etl_facts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Posts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"parallelCopies": 2,
							"validateDataConsistency": true,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Key",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CommentCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CommentCount",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CreationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "OwnerUserId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OwnerUserKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PostTypeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PostTypeKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Score",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Score",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ViewCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ViewCount",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stackoverflow2013_Posts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_demo_dw_2024_Source_Posts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Extract PostTypes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadCommitted",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"validateDataConsistency": true,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Key",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stackoverflow2013_PostTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_demo_dw_2024_Source_PostTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Transform Post data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extract Posts",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Extract PostTypes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[ADF_Transform_factPost]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_demo_dw_2024",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Load factPost",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transform Post data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[ADF_Load_factPost]",
							"storedProcedureParameters": {
								"ETLTimestamp": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sqldb_demo_dw_2024",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stackoverflow2013_Posts')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_demo_dw_2024_Source_Posts')]",
				"[concat(variables('factoryId'), '/datasets/ds_stackoverflow2013_PostTypes')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_demo_dw_2024_Source_PostTypes')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_demo_dw_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_orchestrate_etl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute pl_etl_dims",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_etl_dims",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute pl_etl_facts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute pl_etl_dims",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_etl_facts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_etl_dims')]",
				"[concat(variables('factoryId'), '/pipelines/pl_etl_facts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_demo_dw_2024_Source_Badges')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_demo_dw_2024",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "UserKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Source_Badges"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_demo_dw_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_demo_dw_2024_Source_PostTypes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_demo_dw_2024",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Type",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Source_PostTypes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_demo_dw_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_demo_dw_2024_Source_Posts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_demo_dw_2024",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CommentCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "OwnerUserKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostTypeKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Score",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ViewCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Source_Posts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_demo_dw_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_demo_dw_2024_Source_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_demo_dw_2024",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DisplayName",
						"type": "nvarchar"
					},
					{
						"name": "Reputation",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Source_Users"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_demo_dw_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stackoverflow2013_Badges')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_stackoverflow2013",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "UserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Badges"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_stackoverflow2013')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stackoverflow2013_PostTypes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_stackoverflow2013",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Type",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PostTypes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_stackoverflow2013')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stackoverflow2013_Posts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_stackoverflow2013",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcceptedAnswerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AnswerCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Body",
						"type": "nvarchar"
					},
					{
						"name": "ClosedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CommentCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CommunityOwnedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FavoriteCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LastActivityDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastEditDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastEditorDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "LastEditorUserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OwnerUserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostTypeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Score",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tags",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "ViewCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Posts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_stackoverflow2013')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stackoverflow2013_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_stackoverflow2013",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AboutMe",
						"type": "nvarchar"
					},
					{
						"name": "Age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DisplayName",
						"type": "nvarchar"
					},
					{
						"name": "DownVotes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmailHash",
						"type": "nvarchar"
					},
					{
						"name": "LastAccessDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "Reputation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpVotes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Views",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WebsiteUrl",
						"type": "nvarchar"
					},
					{
						"name": "AccountId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Users"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_stackoverflow2013')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_kv_demo_adf_2024')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_kv_demo_adf_2024_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqldb_demo_dw_2024')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sqldb_demo_dw_2024_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqldb_demo_dw_2024_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_stackoverflow2013')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_stackoverflow2013_properties_typeProperties_server')]",
					"database": "[parameters('ls_stackoverflow2013_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_stackoverflow2013_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv_demo_adf_2024",
							"type": "LinkedServiceReference"
						},
						"secretName": "adf-etl-demo-2024-password"
					}
				},
				"connectVia": {
					"referenceName": "shir-demo",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-demo')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_kv_demo_adf_2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-demo')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}